* {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100%;
    font-size: 18px;
}

body {
    background-color: black;
    height: 100%;
    width: 80%;
}

body::-webkit-scrollbar {
    display: none;
}

#sections {
    height: inherit;
}


.full-page-background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 2rem;
  filter: grayscale(25%);
}


h1 {
    
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
}

p, li {
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

a {
    color: inherit; 
}

article {
    width: 75%;
    overflow: hidden;
}


.icon-bar-mobile {
    visibility: hidden;
    width: auto;
    padding: 1rem 1rem 0 0;
    opacity: 1;
    position: fixed;
    z-index: 1;
    top: inherit;
    bottom: 0; 
    right: 0;
}

.icon-bar-desktop {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;
}

.desktop-links-holder {
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.25rem;
    
}

.desktop-links-holder a{
    text-decoration: none;
}

/* .active-page::before {
    content: "\2022";
    font-size: 40px;
    position: absolute;
    color: pink;
    left: 5%;
} */

.active-page {
    color: rgb(255, 217, 0);
}

.line {
    height: 1px;
    background-color: white;
    margin: 20%;
}


.dbs-image {
    display: block;
    margin: 25% auto;
    width: 50%;
    max-width: 100px;
    border-radius: 50%;
}



#about {
    background-color: rgb(159, 236, 159);
}

#past {
    background-color: rgb(159, 236, 226);
}

#future {
    background-color: rgb(159, 183, 236);
}

#interests {
    background-color: rgb(229, 159, 236);
}

#contact {
    background-color: rgb(236, 159, 176);
}

#next {
    background-color: rgb(236, 215, 159);
}



/* #about {
    background-image: url("../Images/PageImages/callum-beach.jpg");
}

#past {
    background-image: url("../Images/PageImages/cliff-tom.JPG");
}

#interests {
    background-image: url("../Images/PageImages/gang-holds-charlie.JPG");
}

#contact {
    background-image: url("../Images/PageImages/laura-river.JPG");
}

#next {
    background-image: url("../Images/PageImages/callum-and-rory.JPG");
}

#future {
    background-image: url("../Images/PageImages/group-beach-running.JPG");
} */






@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {

    body {
        background-color: black;
        height: 100%;
        width: 100% ;
    }

    h1 {
        font-size: 6rem;
        font-weight: bold;
        margin-bottom: 3rem;
        max-width: 50%;
    }
    
    p {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2.5rem;
    }

    li {
        font-size: 3rem;
        line-height: 3rem;
    }

    /* #interests {
        background-image: url("../Images/PageImages/gang-italy-mountain.jpg");
    }

    #about {
        background-image: url("../Images/PageImages/mobile/callum-beach.jpg");
    }
    
    #past {
        background-image: url("../Images/PageImages/mobile/cliff-tom.JPG");
    }
    
    #interests {
        background-image: url("../Images/PageImages/mobile/gang-holds-charlie.JPG");
    }
    
    #contact {
        background-image: url("../Images/PageImages/mobile/laura-river.JPG");
    }
    
    #next {
        background-image: url("../Images/PageImages/mobile/callum-and-rory.JPG");
    }
    
    #future {
        background-image: url("../Images/PageImages/mobile/group-beach-running.JPG");
    } */



    .icon-bar-mobile {
        visibility: visible;
    }

    .icon-bar-desktop {
        visibility: hidden;
    }

    .icon-bar a {
        font-size: 3rem;
    }
}