#mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
}


#mobile-menu p{
    padding: 20% 10%;
    list-style-type: none;
}

#mobile-menu ul{
    padding: 20% 10%;
    list-style-type: none;
}

#mobile-menu li {
    font-size: 6rem;
    color: white;
    padding: 5% 0;
}

#mobile-menu p {
    padding: 3rem;
    text-align: right;
    font-size: 3rem;
    color: white;
}

#current-page-anchor-mobile a {
    color: rgb(255, 179, 66);
}

#mobile-menu-button {
    display: none;
}


.icon-bar-mobile {
    visibility: hidden;
    width: auto;
    padding: 3rem 4rem 0 0;
    opacity: 1;
    position: fixed;
    z-index: 5;
    top: 0;
    
    right: 0;
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
   
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.75s;
    transition-timing-function: linear;
    outline: none;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}


.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgb(255, 255, 255); 
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
    outline: none;
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 80px;
    height: 8px;
    background-color: rgb(0, 0, 0); 
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease; 
    
}

.hb-invert-inner, .hb-invert-inner::before, .hb-invert-inner::after {
    /* normally burger button is black when 3 lines, white when X. But on home page needs to be white when 3 lines, and still white when x. */

    background-color: rgb(255, 255, 255); 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -20px; 
}

.hamburger-inner::after {
    bottom: -20px; 
}
  
 
  
/*  hamburger Slider */
.hamburger--slider .hamburger-inner {
    top: 4px; 
}

.hamburger--slider .hamburger-inner::before {
    top: 20px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; 
}
.hamburger--slider .hamburger-inner::after {
    top: 40px; 
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 20px, 0) rotate(45deg); 
}

.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -12px, 0);
    opacity: 0; 
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -40px, 0) rotate(-90deg); 
}
  
  


@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    #mobile-menu-button {
        display: inline-block;
    }

    .icon-bar-mobile {
        visibility: visible;
    }
}


