* {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body {
    
}

header {
    max-width: 2000px;
    margin: 0 auto;
}


.header-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#header-about {
    background-image: url("../Images/banner-image-Callum-in-river.JPG");
}

#header-cv {
    background-image: url("../Images/running.JPG");
}

#header-projects {
    background-image: url("../Images/rocks.JPG");
}

#header-informa-quiz {
    background-image: url("../Images/quiz-page-banner.jfif");
}

nav {
    
}

a {
    text-decoration: inherit;
    color: inherit;
}

.expnd-text-button {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(191, 243, 253) 100%);
    border-radius: 10px;
    
}

.extra-text {
    /* currently only used on spans within project blogs 
    visibility: hidden;
    position: absolute;
    */
    border-radius: 10px;
    font-style: oblique;
    
}



nav ul, footer ul {
    list-style-type: none;
    padding: 1rem;
    text-align: right;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

nav li, footer li {
    display: inline-block;
    color: black;
    padding: 10px 15px;
    position: relative;
}

footer li {
    color: white;
}


#current-page-anchor {
    border: 2px solid rgb(255, 179, 66);
    border-radius: 25px;
}



nav a:after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(255, 179, 66);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav a:hover:after { 
    width: 100%; 
    left: 0; 
}


#header_container {
    padding: 10rem 0 16rem 0;
}


header h1 {
    background-color: black;
    color: white; 
    opacity: 0.90;
    
    font-weight: lighter;
    letter-spacing: 0.5rem;
    font-family: 'Roboto Mono', monospace;

    padding: 2rem 0;

    font-size: 2.5rem;
    text-align: center;
}

h3 {
    margin-top: 2rem;
}

#mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#mobile-menu-button {
    display: none;
}

#mobile-menu ul{
    padding: 20% 10%;
    list-style-type: none;
}

#mobile-menu li {
    font-size: 6rem;
    color: white;
    padding: 5% 0;
}

#mobile-menu p {
    padding: 3rem;
    text-align: right;
    font-size: 3rem;
    color: white;
}

main {
    margin: 4rem auto;
    max-width: 900px;
    
}

.pull-quote-container {
    margin: 2rem 0;
    padding: 5rem 2rem 4.5rem 2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}

.pull-quote {
    font-size: 2rem;
    font-style: italic;
    text-transform: uppercase;
}

.pull-quote:before {
    content: open-quote;
    margin: 0 1rem;
}

.pull-quote:after {
    content: close-quote;
    margin: 0 1rem;
}

.pull-quote-author{
    font-size: 1.5rem; 
    text-align: right;
}

section {
    margin: 4rem 0;
}

#post-meta {
    text-align: center;
    margin: 6rem 0 8rem 0;
}





#dbs-logo-holder {
    /* position: sticky; */
    top: 0;
    text-align: center;
}

#dbs-logo {
    width: 4rem;
    border-radius: 50%;
    margin: 1rem;
    z-index: 200;
}

#dbs-logo:hover {
    width: 4.4rem;
    transition: ease-in 0.15s;
}


.icon {
    width: 1rem;
    padding: 1rem ;
}

.icon:hover {
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    transition: ease-in 0.25s;
}


article {
    padding-left: 3rem;
    border-left: 1px solid lightgray;
}


p {
    margin: 1rem 0;
    font-size: 1.2rem;
    
}


li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

article a {
    background: linear-gradient(135deg, rgba(173,255,118,1) 0%, rgba(135,235,255,1) 100%);
    color: black;
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    font-family: monospace;
    text-decoration: none;
}


article a:hover {
    
    color: white;
    letter-spacing: 0.05rem;
    transition: 0.12s;
}






footer {
    background-color: rgb(20, 20, 20);
    padding: 1rem 4rem;
}


@media only screen and (max-width: 1000px){
    main {
        margin: 4rem auto;
        width: 90%; 
    }


}

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    

    nav li {
        font-size: 2.5rem;
    }

    #header_container {
        padding: 24rem 0 30rem 0;
    }

    #current-page-anchor {
        border: 4px solid rgb(255, 179, 66);
    }

    #current-page-anchor-mobile a {
        color: rgb(255, 179, 66);
    }

    section {
        margin: 6rem 0;
    }

    .icon {
        width: 2rem;
    }

    #mobile-menu-button {
        display: inline-block;
    }

    .desktop-nav-button {
        display: none;
    }

    #dbs-logo {
        width: 10rem;
    }

    #dbs-logo:hover {
        width: 12rem;
    }

    p {
        line-height: 4.5rem;
        margin-bottom: 2.5rem;
    }

    li {
        line-height: 4.5rem;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}

  


