* {
    margin: 0;
}


html {
    font-family: 'Montserrat', sans-serif;
    
}

body {
    
}


header {
    background-image: url("../Images/banner-image-Callum-in-river.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}






nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding: 1rem;
    text-align: right;
}

nav li {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    position: relative;
}


#current-page-anchor {
    color: rgb(255, 179, 66);
}

nav a:after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav a:hover:after { 
    width: 100%; 
    left: 0; 
}


#header_container {
    padding: 12rem 0;
}


header h1 {
    background-color: black;
    color: white; 
    opacity: 0.90;
    
    font-weight: normal;
    letter-spacing: 0.5rem;

    padding: 3rem 0;;

    font-size: 4rem;
    text-align: center;
}



main {
    margin: 4rem auto;
    max-width: 900px;
    
}


section {
    margin: 3rem 0;
}

article {
    padding-left: 3rem;
    border-left: 1px solid lightgray;
}


p {
    margin: 1rem 0;
    font-size: 1.2rem;
    
}

li {
    font-size: 1.2rem;
}

p span {
    background: linear-gradient(135deg, rgba(173,255,118,1) 0%, rgba(135,235,255,1) 100%);
    color: black;
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    font-family: monospace;
}


p span:hover {
    
    color: white;
    letter-spacing: 0.05rem;
    transition: 0.12s;
}

.card-holder {
    margin-top: 2rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.card {
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    position: relative;
    width: 15rem;
    height: 15rem;

    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.card p {
    font-style: italic;
}

.card::after {
    content: "";
    
    background-position: center;
    background-size: cover;
    background-image: url("https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/health-benefits-of-apples-1296x728-feature.jpg?w=1155&h=1528");
    
    border-radius: 15px;
    
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    
    border-radius: 40px; 
    
}


#card-UX::after {
    background: url("https://careerfoundry.com/en/blog/uploads/what-does-a-ux-designer-do-header-image.jpg");
    background-position: center;
    background-size: cover;
    
}


#card-film::after {
    background: url("https://i.ytimg.com/vi/a2wO0S4RLCg/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
}

#card-reading::after {
    background: url("https://longreadsblog.files.wordpress.com/2019/01/GettyImages-955854460.jpg?w=1200");
    background-position: center;
    background-size: cover;
}

#card-learning::after {
    background: url("https://static.standard.co.uk/s3fs-public/thumbnails/image/2019/01/08/12/ilya-pavlov-87438-unsplash.jpg?w968");
    background-position: center;
    background-size: cover;
}

#card-exercise::after {
    background: url("https://images.pexels.com/photos/260352/pexels-photo-260352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
}

#card-pub-quiz::after {
    background: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center;
    background-size: cover;
}






@media only screen and (max-width: 1000px){
    main {
        margin: 4rem auto;
        width: 90%; 
    }


}

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    .card {
        width: 60%;
        font-size: 2.5rem;
    }   

    .card p{
        font-size: 2.5rem;
    }

    nav li {
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}

  


